.offers > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: white;
}

.offers {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(auto-fit, minmax(5.5em, 1fr));
    grid-auto-flow: dense;
    align-items: center;
    justify-content: center;

}

.horizontal {
    grid-column: auto / span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.vertical {
    grid-row: span 3;
}